<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.mapper.MyfileMapper">
  <resultMap id="BaseResultMap" type="com.file.model.Myfile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="authorName" jdbcType="VARCHAR" property="authorname" />
    <result column="fileSize" jdbcType="INTEGER" property="filesize" />
    <result column="fileCount" jdbcType="INTEGER" property="filecount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fileName, authorName, fileSize, fileCount
  </sql>
  <select id="selectByExample" parameterType="com.file.model.MyfileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from myfile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from myfile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from myfile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.file.model.MyfileExample">
    delete from myfile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.file.model.Myfile">
    insert into myfile (id, fileName, authorName, 
      fileSize, fileCount)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{authorname,jdbcType=VARCHAR}, 
      #{filesize,jdbcType=INTEGER}, #{filecount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.file.model.Myfile">
    insert into myfile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="authorname != null">
        authorName,
      </if>
      <if test="filesize != null">
        fileSize,
      </if>
      <if test="filecount != null">
        fileCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="authorname != null">
        #{authorname,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=INTEGER},
      </if>
      <if test="filecount != null">
        #{filecount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.file.model.MyfileExample" resultType="java.lang.Long">
    select count(*) from myfile
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update myfile
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null">
        fileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.authorname != null">
        authorName = #{record.authorname,jdbcType=VARCHAR},
      </if>
      <if test="record.filesize != null">
        fileSize = #{record.filesize,jdbcType=INTEGER},
      </if>
      <if test="record.filecount != null">
        fileCount = #{record.filecount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update myfile
    set id = #{record.id,jdbcType=INTEGER},
      fileName = #{record.filename,jdbcType=VARCHAR},
      authorName = #{record.authorname,jdbcType=VARCHAR},
      fileSize = #{record.filesize,jdbcType=INTEGER},
      fileCount = #{record.filecount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.file.model.Myfile">
    update myfile
    <set>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="authorname != null">
        authorName = #{authorname,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        fileSize = #{filesize,jdbcType=INTEGER},
      </if>
      <if test="filecount != null">
        fileCount = #{filecount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.file.model.Myfile">
    update myfile
    set fileName = #{filename,jdbcType=VARCHAR},
      authorName = #{authorname,jdbcType=VARCHAR},
      fileSize = #{filesize,jdbcType=INTEGER},
      fileCount = #{filecount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>