<?xml version="1.0" encoding="UTF-8"?>
       <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyj.mapper.EmployeeMapper">
	<select id="findEmployeeById" parameterType="java.lang.Integer"
		resultType="com.wyj.model.Employee">
		select * from employee where emp_id = #{emp_id}
	</select>
	<select id="getAllEmployee" resultType="com.wyj.model.Employee">
		select * from employee
	</select>
	<select id="getAllEmployeeByNameAndGender" parameterType="com.wyj.model.Employee" resultType="com.wyj.model.Employee">
		select * from employee where 1=1
		<if test="emp_name!=null and emp_name!=''">
			and emp_name like concat('%',#{emp_name},'%')
		</if>
		<if test="emp_gender!=null and emp_gender!=''">
			and emp_gender like concat('%',#{emp_gender},'%')
		</if>
	</select>
	<select id="getAllEmployeeByNameAndGender2" parameterType="com.wyj.model.Employee" resultType="com.wyj.model.Employee">
		select * from employee
		<where>
		<if test="emp_name!=null and emp_name!=''">
			and emp_name like concat('%',#{emp_name},'%')
		</if>
		<if test="emp_gender!=null and emp_gender!=''">
			and emp_gender like concat('%',#{emp_gender},'%')
		</if>
		</where>
	</select>
	<select id="getAllEmployeeByName" parameterType="String" resultType="com.wyj.model.Employee">
	<!-- 字符串拼接 ${} -->
		select * from employee where emp_name like '%${_parameter}%'
	</select>
	<select id="getAllEmployeeByName2" parameterType="String" resultType="com.wyj.model.Employee">
		<!-- 占位符#{} -->
		select * from employee where emp_name like #{emp_name}
	</select>
	<update id="updateEmployee" parameterType="com.wyj.model.Employee">
		update employee set emp_id=#{emp_id},emp_name=#{emp_name},emp_gender=#{emp_gender},emp_password=#{emp_password},
		emp_grade=#{emp_grade},emp_email=#{emp_email},emp_department_id=#{emp_department_id}
		where id=#{id}
	</update>
	<insert id="insertEmployee"  parameterType="com.wyj.model.Employee">
		insert into employee(emp_id,emp_name,emp_gender,emp_password,emp_grade,emp_email,emp_department_id)
		values(#{emp_id},#{emp_name},#{emp_gender},#{emp_password},#{emp_grade},#{emp_email},#{emp_department_id})
	</insert>
	<delete id="deleteEmployeeById" parameterType="java.lang.Integer">
		delete from employee where emp_id = #{emp_id}
	</delete>
</mapper>
