<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<!-- 创建数据库的链接
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	       <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
           <property name="url" value="jdbc:mysql://localhost:3306/userdb"/>
           <property name="username" value="root"/>
           <property name="password" value="root"/>
    </bean> -->
    
    <!-- 1、读取配置文件 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 2、创建数据库的连接池  dbcp  c30p-->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!-- 3、spring通过jdbc模板操作数据库 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
           <property name="dataSource" ref="dataSource"/>
    </bean> 
    <!-- 4、配置项目中所需要的bean -->
    <bean name="userDao" class="com.wyj.dao.UserDaoImpl">
    	<property name="jt" ref="jdbcTemplate"/>
    </bean>
    <bean name="userService" class="com.wyj.service.UserServiceImpl">
    	<property name="userDao" ref="userDao"/>
    </bean>
    <!-- 5、加入spring的事务管理 -->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 6、 开启事务注解方式 -->
	<tx:annotation-driven/>
   
</beans>










